@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

.header {
  width: 100%;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.header__icons {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #c60b41;
}
.header__icons .icons {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
.header__icons .icons span {
  color: white;
  font-size: 30px;
}
.header__icons .icons span:hover {
  color: black;
}
.header .nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}
.header .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}
.header .nav__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav__logo a span {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
  margin-top: 10px;
  color: #c60b41;
}
.header .nav__logo a p {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}
.header .nav__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
.header .nav__profile a {
  border-bottom: 2px solid #c60b41;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url("https://img1.wallspic.com/previews/5/9/5/9/3/139595/139595-annimo-x750.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home section {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.home__text {
  width: 50vw;
  font-size: 40px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: #c60b41;
  text-align: center;
}
.home__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 50px;
  background-color: #c60b41;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.home a:hover {
  background-color: white;
  color: #c60b41;
}

.blogs {
  display: -ms-grid;
  display: grid;
}
.blogs__new {
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}
.blogs .new__img {
  -ms-grid-column: 1;
  grid-column: 1;
}
.blogs .new__img img {
  width: 85%;
}
.blogs .new__info {
  -ms-grid-column: 2;
  grid-column: 2;
}
.blogs .new__info p {
  margin-bottom: 35px;
  font-size: 20px;
}
.blogs .new__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr;
  grid-template-rows: 2fr;
}
.blogs .new__article > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.blogs .new__article > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.articulo__boton {
  border-radius: 5px;
  border: 1px solid #c60b41;
  color: black;
  padding: 10px 15px;
  font-size: 12px;
}

.articulo__boton:hover {
  background-color: #c60b41;
  color: white;
}

.articulo {
  margin: 40px;
  padding: 0 50px 40px;
}
.articulo h3 {
  border-bottom: 1px solid #c60b41;
  padding-bottom: 20px;
  text-align: center;
}
.articulo .articulo__posts {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.articulo .articulo__posts p {
  margin-bottom: 35px;
}
.articulo .articulo__posts img {
  width: 100%;
}

.blogpost-img-container {
  padding: 0 50px 40px;
}
.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #c60b41;
  padding-bottom: 20px;
}
.blogpost-main-container h1 {
  font-size: 35px;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  background-color: #e6e9ed;
  text-align: center;
  padding-bottom: 50px;
}
.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}
.contact-main-container div .contact-left, .contact-main-container div .contact-right {
  text-align: initial;
  margin-top: 85px;
  margin-left: 20px;
}
.contact-main-container div .contact-left a, .contact-main-container div .contact-right a {
  border-bottom: 1px solid #c60b41;
  padding-bottom: 5px;
}
.contact-main-container div img {
  width: 100px;
}

.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
}
.profile-main-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile-main-container img {
  width: 400px;
  margin-right: 30px;
}

.profile-main-proyects {
  padding: 0 50px 40px;
}
.profile-main-proyects h3 {
  border-bottom: 1px solid #c60b41;
  padding-bottom: 35px;
  text-align: center;
}
.profile-main-proyects .proyects-main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.profile-main-proyects .proyects-main-container .proyect-container {
  padding: 0 5px;
}
.profile-main-proyects .proyects-main-container .proyect-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #c60b41;
  text-align: center;
}
footer p {
  color: white;
  margin-top: 30px;
}