section.contact-main-container
  div 
    img(src="/assets/img/013-newsletter.png", alt="")
    div.contact-left
      a(href="/") Contacto
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellendus nemo aliquam corrupti architecto.
  div
    img(src="/assets/img/006-like.png", alt="")
    div.contact-right
      a(href="/") Escribe
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellendus nemo aliquam corrupti architecto.
