header.header
  section.header__icons
    div.icons
      a(href=""): span.bi.bi-facebook
      a(href=""): span.bi.bi-twitter
      a(href=""): span.bi.bi-instagram
      a(href=""): span.bi.bi-linkedin
      a(href=""): span.bi.bi-youtube
    nav.nav
      section.nav__logo
        a(href="/html/index.html")
          span.devicon-devicon-plain 
          p Jimmy J. Pecho Malqui
      section.nav__profile
        a(href="perfil.html") Sobre mí