doctype html
html(lang="en")
  include componentes/head.pug
  body
    include componentes/header.pug
    main
      section.grid-container.blogpost-img-container
        img(src="/assets/img/post-1.png" alt="")
      section.blogpost-main-container
        div.grid-container
          h3 Noticias
          article
            h1 Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut fuga reprehenderit non culpa nihil nulla numquam corporis incidunt vero. Autem non totam adipisci esse quibusdam ipsum libero necessitatibus molestias accusantium.
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, maiores dolores aut animi laborum expedita dolore alias consequuntur ad odio consectetur? Et accusamus placeat ad incidunt debitis non, labore asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est deleniti itaque quod incidunt ipsam molestias impedit similique ea assumenda alias iusto, quaerat possimus quasi, dolorum provident voluptatum voluptates perspiciatis dignissimos.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit laudantium fugit iure dolore maiores cum vitae repellendus cupiditate, unde libero? Neque blanditiis eaque exercitationem itaque nemo quod alias perferendis sapiente?Dolorum, obcaecati odio ducimus optio voluptate voluptatum ipsam ex, eligendi nulla laboriosam vel fugit nesciunt, ipsa accusantium hic quisquam ipsum! Illo beatae numquam quidem cumque commodi veritatis ab rem explicabo.
      include componentes/contacto.pug
    include componentes/footer.pug