doctype html
html(lang="en")
  include componentes/head.pug
  body.home-body
    include componentes/header.pug
    main.home
      section
        p.home__text Conoce las novedades y noticias del Mundo Tech
        a.home__button(href="blogs.html") Entra ya! 